<?php
//Sample config file, please move to ../config.cnf

// Enter API keys here.  ShadowControl key can be "Reporting API Key". 
$apiKeyDatto = "";
$apiKeySTC = "";

$hostSTC = "49.54.37.132";

// Enter any devices to be ignored.  This will list them as "online" regardless of status
$listIgnoreDatto = array("MPRBDR1", "MBHABDR1", "WSDBDR1", "MTOBDR1");
$listIgnoreSTC = array('');
?>

